VITE_BACKEND_HOST = (your host)
VITE_FRONTEND_HOST = (your host)
VITE_BACKEND_PORT = (backend port)
VITE_FRONTEND_PORT = (frontend port)

# redirect to ip address
INTRA_CLIENT_ID=
INTRA_CLIENT_SECRET=

INTRA_REDIRECT_URI=http://${VITE_BACKEND_HOST}:${VITE_BACKEND_PORT}/auth/intra

JWT_SECRET= (create a secret here)

# postgres credentials
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

VITE_FETCHING_URL = http://${VITE_BACKEND_HOST}:${VITE_BACKEND_PORT}
BACKEND_URL=http://${VITE_BACKEND_HOST}:${VITE_BACKEND_PORT}
FRONTEND_URL=http://${VITE_FRONTEND_HOST}:${VITE_FRONTEND_PORT}
